@import "cores.less";
@import "breakpoints.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointMobile {
        max-width: 70%;
    }

    @media @breakpointTablet {
        max-width: 80%;
    }
}